.productList {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: min-content;
	gap: 20px;
}

.productList a {
	text-decoration: none;
}

@media screen and (min-width: 768px) {
	.productList {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (min-width: 992px) {
	.productList {
		grid-template-columns: repeat(6, 1fr);
	}
}
