.productList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-height: 100%;
}

.productList a {
  text-decoration: none;
}

@media screen and (min-width: 1440px) {
  .productList {
    grid-template-columns: repeat(1, 1fr);
  }
}
