.popup .container .checkbox.checked {
  border-radius: 12px;
  background-color: var(--blue, #364fd4);
  padding: 8px 15px;
  color: var(--white, #fff);
}

@media screen and (min-width: 768px) {
  .popup .container .checkbox.checked {
    padding: 6px 12px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 992px) {
  .popup .container .checkbox.checked {
    padding: 6px 12px;
    border-radius: 10px;
  }
}
