.onboarding-section {
  flex-direction: column;
}

.illustration {
  margin-bottom: 3rem;
}

.h-tag {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
  width: 50%;
  line-height: 2rem;
  font-family: "Poppins-SemiBold";
}

.p-tag {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 70%;
  line-height: 2rem;
  margin-bottom: 5rem;
  font-family: "Poppins-Regular";
  font-size: 12px;
  color: var(--grey);
}

.onboarding-section a {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  padding: 10px 37px;
  background-color: var(--blue);
  color: var(--white);
  font-family: "Poppins-Regular";
  font-size: 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
