.add-to-fav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.add-to-fav-btn {
	display: inline-block;
	margin: 0 auto;
	border: none;
	background: none;
	width: 10vw;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.add-to-fav-btn:active {
	transform: scale(0.9);
}

.add-to-fav-svg {
	fill: var(--blue);
}
