footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    width: 100%;
}
