.productList{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    row-gap: 7.5vw;
    padding: 0 17.5px;
}

#sortSelect{
    border: none;
    color: blue;
    outline: 0px;
    appearance: none;
    width: 100px;
}

.productList a{
    text-decoration: none;
}
