.search-field {
	display: flex;
	border-radius: 12px;
	background: var(--gray-07, #f0f3f8);
	padding: 16px 8px;
	margin-right: 8px;
	width: 80%;
}

.search-field input {
	background-color: var(--gray-07, #f0f3f8);
	color: var(--gray-04, #b9c1cc);
	font-size: 1.4rem;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	line-height: 2rem;
	border: none;
	width: 100%;
	padding: 0px 5px;
}
