*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

img{
    max-width: 100%;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}