.header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 40px;
	padding-bottom: 16px;
	background-color: white;
}
.title-div {
	display: flex;
	justify-content: space-between;
	padding-bottom: 2px;
}

.img-wrapper{
	max-width: 70%;
	margin: 0 auto;
}

.infoBox {
	padding: 0 16px;
}

.title-div h2 {
	color: var(--gray-01, #1e2126);
	font-size: 2rem;
	font-family: "Poppins-SemiBold", Arial, Helvetica, sans-serif;
	font-weight: 600;
	line-height: 3rem;
	letter-spacing: 0.02rem;
}
.detail-sec article {
	border-radius: 12px;
	background-color: var(--white, #fff);
	box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.05);
	margin-bottom: 47px;
}
.detail-sec .img-wrapper {
	border-radius: 12px 12px 0px 0px;
	background-color: var(--gray-07, #f0f3f8);
	min-height: 310px;
	margin-bottom: 24px;
	padding: 30px;
}
.detail-sec .img-wrapper img {
	height: 100%;
}
.button-div {
	display: flex;
	align-items: center;
}
.button-div button {
	color: var(--white, #fff);
	width: 24px;
	height: 24px;
	border: none;
	border-radius: 3px;
	background-color: var(--gray-05, #cad1d9);
	transition: background-color 0.3s ease;
}
.button-div button:hover,
.button-div button:active,
.button-div button:focus {
	background-color: var(--gray-03, #828b9a);
}
.counter-state {
	font-size: 1.6rem;
	font-family: "Poppins-Bold", Arial, Helvetica, sans-serif;
	font-weight: 600;
	line-height: 2.4rem;
	letter-spacing: 0.01rem;
	margin: 0 10px;
	text-align: center;
}
.rating {
	display: flex;
	align-items: flex-start;
	margin-bottom: 11px;
}
.star {
	width: 16px;
	height: 16px;
	margin-right: 4px;
}
.product-rating {
	display: inline-block;
	color: var(--gray-03, #828b9a);
	text-align: right;
	font-size: 1.2rem;
	font-family: "Poppins-SemiBold", Arial, Helvetica, sans-serif;
	font-weight: 600;
	line-height: 1.8rem;
}

.price-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 17px;
}

.price-div p {
	color: var(--gray-04, #b9c1cc);
	text-align: justify;
	/* Body 6 */
	font-size: 1.4rem;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	line-height: 2rem;
}

.price-div h3 {
	color: var(--blue, #364fd4);
	text-align: right;

	/* Title 1 */
	font-size: 2.8rem;
	font-family: "Poppins-Bold";
	font-weight: 700;
	line-height: 3.8rem;
	letter-spacing: 0.02rem;
}

.description-div p {
	color: var(--gray-04, #b9c1cc);
	text-align: justify;
	/* Body 6 */
	font-size: 1.4rem;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	line-height: 2rem;
	margin-bottom: 24px;
}
.description-div h4 {
	color: var(--gray-01, #1e2126);
	font-size: 2rem;
	font-family: "Poppins-Medium", Arial, Helvetica, sans-serif;
	font-weight: 500;
	line-height: 2.2rem;
	letter-spacing: 0.02rem;
	margin-bottom: 18px;
}

@media only screen and (min-width: 768px) {
	.detail-sec article,
	.detail-sec .description-div,
	.detail-sec .example {
		width: 50%;
		margin: auto;
		padding: 20px;
	}
	.detail-sec .example {
		display: block;
	}
}

	.rating{
		order:-1;
	}

	.detail-sec .img-wrapper {
		max-width: 50%;
		margin-bottom: 0;
		padding: 0;
	}

	.detail-sec article {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
		padding: 15px;
		margin-top: 4vh;
	/*	max-width: 50%; */
		margin-bottom: 20px;
	}
	
	.add-to-fav {
		width: 50px;
	}

	.button-div {
		display: flex;
		justify-content: center;
	}

	.price-div {
		width: 100%;
		margin-top: 10px;
	}

	.description-div {
		max-width: 75%; 
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: auto;
	}

	.example {
		max-width: 25%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
	}

	.infoBox {
		display: flex;
		flex-direction: column;
		min-width: 50%;
		align-items: center;
		margin: auto;
		min-height: 25vh;
		justify-content: space-between;
	}

	.title-div {
		display: flex;
		justify-content: space-between;
		padding-bottom: 2px;
		flex-direction: column;
	}
}
@media (min-width: 992px) {
	.img-wrapper {
	/*	max-width: 20%;*/
	}

	.detail-sec article {
		max-width: 50%;
	}

	.detail-sec .add-to-fav {
		width: 50px;
	}

	.price-div {
	/*	justify-content: flex-start;*/
	}

	.description-div {
		max-width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
		flex-direction: column;
	}

	.detail-sec .example {
		max-width: 25%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
	}
}
