
.adminSection{
    min-height: 80vh;
    margin-top: 25px;
}

.adminSection h2{
    text-align: center;
    margin-bottom: 10px;
}

.adminSection input{
    margin: 5px 0;
}

.createProduct h3:first-of-type{
    margin:10px 0;
}

.adminSection form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.adminSection .createProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.adminSection .createProduct input[type="text"],
.adminSection .createProduct input[type="number"]{
    width: 70%;
}

.rangeDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.createProduct img{
    min-width: clamp(1rem,40vw,40rem);
    max-width: clamp(1rem,40vw,40rem);
    min-height: clamp(1rem,40vw,40rem);
    max-height: clamp(1rem,40vw,40rem);
    padding: 10px;
}

.adminSection textarea{
    width: 100%;
    resize: none;
    min-height: 100px;
}

#adminChange.disabled,
#adminDelete.disabled,
#adminNew.disabled
{
    background-color: dimgray;
    opacity: 70%;
    cursor:default;
}

#adminChange.disabled:hover,
#adminDelete.disabled:hover,
#adminNew.disabled:hover{
    background-color: dimgray;
    color: white;
}

.createProduct div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.createProduct div button,
.createProduct div input[type="submit"]{
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    background-color: blue;
    cursor: pointer;
}

#adminDelete{
    background-color: crimson;
}

#adminDelete:hover{
    background-color: red ;
}

#adminChange:hover{
    background-color: var(--blue);
}

#adminNew{
    background-color: green;
}

#adminNew:hover{
    background-color: lightgreen;
    color: black;
}


.adminBtnDiv{
    margin-top: 10px;
    justify-content: space-around;
}
